

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}
.header-top{
	background-image: url(../images/bg_head_top.jpg);
	height: 145px;
	transition: all 0.25s ease 0s;
	/*padding-right: 30px;*/
}

.wrap-header-top {
  margin-right: 32px;
  margin-top: 25px; 
  padding-bottom: 30px;
}
.flag{
	list-style: none;
  margin-bottom: 38px;
}
.flag li{
	margin-left: 15px;
	float: right;
}
.search-form {
  text-align: right;
}
.search-form input{
	border: none;
	/*box-shadow: 1px 1px 4px 1px rgba(1,1,1,.3);*/
	padding-left: 30px;
	font-size: 14px;
	background: rgba(255,255,255,.5);
  width: 228px;
  height: 38px;
  border-radius: 3px;
}


/*===================Slider=================*/
.site-content{
	position: relative;
	
}
.marquee{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background: rgba(1,1,1,.4);
	padding: 10px;

}
.marquee a{
	top: 0;
	padding: 0;
	font-size: 18px;
	background: transparent;
	position: unset;
	border: none;
	line-height: unset;
	opacity: 0.6;
	color: #fff46e;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.marquee span{
	margin-right: 400px;
}
/* ========================================Main============================== */

.site-main{
	display: flex;
}
.site-main .news-top{
	display: flex;
}

.news{
	color: #686969;
	font-size: 18px;
	font-weight: 400;
}
.news .top-right a{
	font-weight: 600;
	font-size: 22px;
	color: #fff46e;
  text-decoration: none;

  transition: all 0.3s ease;
}
.news .top-right a:hover{
  color: #635b59;
}
.news .btn{
	border-radius: 0px;
	background: #fff46e;
	font-size: 26px;
	padding: 0 20px;
}
.news-top,.news-bottom{
	padding: 10px;
}
.news-top .top-left{
	border: 5px solid yellow;
	margin:20px;
	min-height: 215px;
	/*! width: 363px; */
}
.news-top .top-right{
	padding: 5px;
	margin: 5px;
}
.news-bottom li{
	margin: 10px;
  list-style: url(../images/list-style-r.png);
}
.news-bottom li a{
  color: #635b59;
   font-size: 20px;
  font-weight: 500;
  font-family: Roboto,sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-left: 10px;
}
.news-bottom li a:hover{
  color: #eac71c;
}
.thongbao{
	box-shadow: 1px 1px 2px 1px rgba(1,1,1,.4);
	margin-top: 10px;
	box-sizing: border-box;
  overflow:hidden;
  background-color: #f5f5f5;
}
.thongbao .title{
	text-align: center;
	padding: 9px 0 10px;
	color: #58595b;
	background: #fff46e;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
   font-family: Roboto,sans-serif;
}
.thongbao ul{
	overflow-y: scroll;

	max-height: 340px;
  padding-top: 20px;
  margin-left: -20px;
  
  
}
.thongbao li{
	margin: 10px;
  list-style: url(../images/list-style.png);
}
.thongbao li a{
  color: #686969;
   font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  padding-left: 10px;
}
.thongbao li a:hover{
  color: #eac71c;
}
.tuyen-sinh{
	background-color: #f1f1f1;
	padding: 30px 0;
}
.tuyen-sinh .title span{
	position: relative;
	text-align: center;
	display: block;
	border-bottom: 1px solid #bdbdbd;
	padding-top: 5px;
}

.hn-container .title span{
	position: relative;
	text-align: center;
	display: block;
	border-bottom: 1px solid #bdbdbd;
	padding-top: 5px;
}
.ts-container .title{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hn-container{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;

}
.ts-container .item img{
	width: 100%;
	margin: 5px;
}
.tu-van{
	margin: 40px 0;

}

.moi-truong{
	background-image: url(http://demos.k2themes.com/dhhl/wp-content/uploads/2018/03/bg_home_2.jpg?id=39);

}

.moi-truong .title{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 600;
	/*padding: 0 20%;	*/
	
	/*background-color: #35322b;*/
}
.moi-truong .content {
  padding-bottom: 34px;
  padding-top: 27px;
}
.moi-truong .title h4{
	background-color: #35322b;
  	font-family: Roboto, sans-serif;
	padding: 10px;
	width: 100%;
	color: #eac71c;
  	font-size: 42px;
  	font-weight: 200;
  	margin: 0 auto;	
}
.moi-truong .title h4 .to{
  font-weight: 500;
}
.moi-truong .item img{
	width: 100%;
	margin: 5px;
}
#lienketSlider{
	margin: 25px 0px;
}
#lienketSlider .item img{
  max-width: 140px;
}
.hn-container{
	padding: 30px 0;
}
.hn-container .info{
	font-size: 29px;
  color: #51504d;
  text-transform: none;
	font-weight: 600;
	/*padding: 10px 0;*/
}
.hn-container .img{
  margin: 22px 0;
}
.container .content{
	/*padding-left: -20px;m*/
	margin-left: -25px;
}
/*======================================FOOTER====================================*/
.footer{
	background: #4c4b4f;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.footer h3{
  font-size: 18px;
	font-weight: 400;
}
.footer .title{
	text-align: center;
	font-size: 18px;
  font-weight: 400;
	background-color: #fff46e;
	padding-top: 15px;
  padding-bottom: 4px;
	color: #2c2930;
}
.footer .content{
	padding: 15px 0;
}
.footer .lienket li{
	list-style: none;
	margin: 9px;
	float: right;
}
.lienhe p{
	margin: -2px;
}
.gioithieu p{
	margin: 5px;
}
.footer .lienhe{
	margin-left: 10px;
}
.footer .lienket{

}
.footer .contact{
	margin-top: -15px;
}
.footer .gioithieu{
	/*padding: 10px;*/
	margin: 20px;
  
}
.footer p{
	color: #fff;
	font-size: 18px;
	letter-spacing: 0;
	font-family: 'Arial', serif;
	font-weight: 500;
	line-height: 1.4;
}
.ts-container span {
  position: relative;
  text-align: center;
}
.ts-container span:before,.hn-container span:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #fff;
  top: 5px;
}
.ts-container span:after,.hn-container span:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #edb00b;
  top: 0px;
  transform: rotate(-45deg);

}
@media screen and (max-width: 991px ) {
    .footer .lienket ul{
      margin-left: -45px; 
    }
    .footer .lienket li{
      float: left;
    }
    .footer .content{
      padding: 32px 0px;
    }
}